html{
    box-sizing: border-box;
}
*, 
*::before, 
*::after{
    box-sizing: inherit;
}
:root{
    --primary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --acent-color: #2196F3;
    --subtitle-text-color: #757575;
    --background-color: #2F303A;
    --background-color-team: #F5F4FA;
}
body{
    margin: 0px;
    background-color:#FFFFFF;
    color:#212121;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0.03em;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}
h1,
h2,
h3,
p{
    margin: 0;
}
.link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contacts{    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--subtitle-text-color);
}
.conteiner{
    width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

    /* Studio */
/* Header-section */
.header-section{

}
.nav-header .link {
    color: var(--primary-text-color);
}
.nav-header .active{
    color: var(--acent-color);
}
.nav-header .link:hover,
.nav-header .link:focus,
.nav-header .link:active{
    color:var(--acent-color);
}

.list .link:hover,
.list .link:focus{
    color:var(--acent-color);
}
/* Main-section */
.main-section{
}
/* Hero-section */
.hero-section{
    background-color: var(--background-color);
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-text-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 200px;

    
}
.button-hero{
    font-weight: bold;
    line-height: 1.85;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color:var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
    border: 1px solid transparent;
}
/* advantage-преимущества-section*/
.advantage-section{

}
.advantage-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 10px;
   
    

}
.advantage-text{
    font-size: 14px;
    line-height: 1.70;
    color: var(--subtitle-text-color);
}
/* work-section */
.work-section{
    background-color: var(--background-color-team);
}
.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 50px;
}
/* work-team-section */
.work-team-section{

}
.work-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 50px;
}
.work-team-subtitle{
    font-weight: 500;
    line-height: 1.20;
    text-align: center;
    margin-bottom: 10px;
}
.work-team-text{
    line-height: 1.20;    
    text-align: center;
    color: var(--subtitle-text-color);
}
/* fotter-section */
.footer-section{
    background-color: var(--background-color);
}

    /* Portfolio */
/* Main-section */
.main-section-portfolio{
    /* text-align: center; */
}
/* Hero-section */
.hero-section-portfolio{
   
}
.button-spisok{
    font-weight: 500;
    line-height: 1.60;    
    text-align: center;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
}
.active-button {
    background-color: var(--acent-color);
}
.section .button-spisok:hover,
.section .button-spisok:focus{
    background-color: var(--acent-color);
    color: var(--title-text-color);
}

.hero-portfolio-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 5px;
}
.hero-portfolio-text{
    font-size: 16px;
    line-height: 1.87;  
    color: var(--subtitle-text-color);
}